# Go binaries and cache
bin/
*.exe
*.test
*.prof

# OS specific files
.DS_Store

# ENV SECRETS (PENTING!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# State files
state.json
